<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [192]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [193]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [194]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 12 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(11)
memory usage: 6.9 MB

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [196]:
df.pivot_table(['height','weight'], ['gender'], aggfunc='mean')
df['gender'].replace([1,2],['female','male'],inplace=True)
df['gender'].value_counts()

female    45530
male      24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [197]:
df.pivot_table(['alco'], ['gender'], aggfunc='mean')

        alco
gender
female  0.03
male    0.11

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [198]:
df.groupby('gender')['smoke'].mean()

gender
female    0.02
male      0.22
Name: smoke, dtype: float64

In [199]:
smoke_fem = df[df['gender'] == 'female']['smoke']
smoke_male = df[df['gender'] == 'male']['smoke']
print ("Курящих мужчин больше в {} раз.".format(round(100 * smoke_male.mean()/(100 * smoke_fem.mean()))))

Курящих мужчин больше в 12 раз.

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [200]:
df['age_years'] = round(df['age'] / 365.25)
df['age_month'] = df['age_years'] * 12
df['age_years'] = df['age_years'].astype('int64')
df['age_month'] = df['age_month'].astype('int64')
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,age_month
id,,,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0,50,600
1,20228,female,156,85.0,140,90,3,1,0,0,1,1,55,660
2,18857,female,165,64.0,130,70,3,1,0,0,0,1,52,624
3,17623,male,169,82.0,150,100,1,1,0,0,1,1,48,576
4,17474,female,156,56.0,100,60,1,1,0,0,0,0,48,576
8,21914,female,151,67.0,120,80,2,2,0,0,0,0,60,720
9,22113,female,157,93.0,130,80,3,1,0,0,1,0,61,732
12,22584,male,178,95.0,130,90,3,3,0,0,1,1,62,744
13,17668,female,158,71.0,110,70,1,1,0,0,1,0,48,576
14,19834,female,164,68.0,110,60,1,1,0,0,0,0,54,648
15,22530,female,169,80.0,120,80,1,1,0,0,1,0,62,744
16,18815,male,173,60.0,120,80,1,1,0,0,1,0,52,624
18,14791,male,165,60.0,120,80,1,1,0,0,0,0,40,480
21,19809,female,158,78.0,110,70,1,1,0,0,1,0,54,648
23,14532,male,181,95.0,130,90,1,1,1,1,1,0,40,480
24,16782,male,172,112.0,120,80,1,1,0,0,0,1,46,552
25,21296,female,170,75.0,130,70,1,1,0,0,0,0,58,696
27,16747,female,158,52.0,110,70,1,3,0,0,1,0,46,552
28,17482,female,154,68.0,100,70,1,1,0,0,0,0,48,576
29,21755,male,162,56.0,120,70,1,1,1,0,1,0,60,720
30,19778,male,163,83.0,120,80,1,1,0,0,1,0,54,648
31,21413,female,157,69.0,130,80,1,1,0,0,1,0,59,708
32,23046,female,158,90.0,145,85,2,2,0,0,1,1,63,756
33,23376,male,156,45.0,110,60,1,1,0,0,1,0,64,768
35,16608,female,170,68.0,150,90,3,1,0,0,1,1,45,540
36,14453,female,153,65.0,130,100,2,1,0,0,1,0,40,480
37,19559,female,156,59.0,130,90,1,1,0,0,1,0,54,648
38,18085,female,159,78.0,120,80,1,1,0,0,1,0,50,600
39,14574,male,166,66.0,120,80,1,1,0,0,1,0,40,480
40,21057,male,169,74.0,130,70,1,3,0,0,0,0,58,696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99958,22572,male,173,103.0,140,80,3,1,1,1,0,1,62,744
99959,20136,male,177,80.0,130,80,1,1,0,0,1,0,55,660
99960,17065,female,165,76.0,140,90,1,1,0,0,1,1,47,564
99961,22142,male,175,72.0,130,80,1,1,0,0,1,0,61,732
99962,18226,female,168,75.0,120,80,1,1,0,0,1,0,50,600
99963,21264,male,182,100.0,120,80,1,1,0,0,1,1,58,696
99964,21699,female,163,65.0,120,80,2,2,0,0,1,0,59,708
99965,16843,female,168,75.0,120,79,1,1,0,0,1,0,46,552
99967,18800,female,163,78.0,90,60,1,1,0,0,1,1,51,612
99969,22423,female,163,74.0,160,100,2,2,0,0,1,1,61,732
99971,17727,male,167,69.0,110,80,1,1,0,1,0,0,49,588
99972,17500,male,182,110.0,130,90,2,2,0,0,1,1,48,576
99973,18941,female,153,86.0,130,90,1,2,0,0,1,1,52,624
99974,19652,female,165,72.0,120,80,1,1,0,0,1,0,54,648
99975,17926,male,168,80.0,120,80,1,1,0,0,1,1,49,588
99977,18194,female,156,102.0,130,80,1,1,0,1,0,1,50,600
99978,18198,male,180,78.0,120,80,1,1,0,0,1,0,50,600
99979,18852,female,151,49.0,120,80,1,1,0,0,1,0,52,624
99981,21978,female,160,59.0,110,70,1,1,0,0,1,0,60,720
99985,21013,female,157,83.0,120,70,1,1,0,0,1,1,58,696
99986,15094,female,168,72.0,110,70,1,1,0,0,1,1,41,492
99988,20609,female,159,72.0,130,90,2,2,0,0,1,0,56,672
99990,18792,female,161,56.0,170,90,1,1,0,0,1,1,51,612
99991,19699,female,172,70.0,130,90,1,1,0,0,1,1,54,648
99992,21074,female,165,80.0,150,80,1,1,0,0,1,1,58,696
99993,19240,male,168,76.0,120,80,1,1,1,0,1,0,53,636
99995,22601,female,158,126.0,140,90,2,2,0,0,1,1,62,744
99996,19066,male,183,105.0,180,90,3,1,0,1,0,1,52,624
99998,22431,female,163,72.0,135,80,1,2,0,0,0,1,61,732
99999,20540,female,170,72.0,120,80,2,1,0,0,1,0,56,672

In [201]:
df.groupby('smoke')['age_month'].mean()

smoke
0    640.85
1    627.15
Name: age_month, dtype: float64

# **<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 14 columns):
age            70000 non-null int64
gender         70000 non-null object
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
age_years      70000 non-null int64
age_month      70000 non-null int64
dtypes: float64(1), int64(12), object(1)
memory usage: 8.0+ MB

In [203]:
SCORE4 = df[(df['age_years'] >= 60) & (df['age_years'] < 65) & (df['ap_hi'] >=160) & (df['ap_hi'] < 180) & (df['cholesterol'] == 3) & (df['smoke']== 1) & (df['gender'] == 'male')].count()
SCORE8 = df[(df['age_years'] >= 60) & (df['age_years'] < 65) & (df['ap_hi'] < 120) & (df['cholesterol'] == 1) & (df['smoke']== 1) & (df['gender'] == 'male')].count()

In [204]:
round(SCORE8 / SCORE4)

age            3.0
gender         3.0
height         3.0
weight         3.0
ap_hi          3.0
ap_lo          3.0
cholesterol    3.0
gluc           3.0
smoke          3.0
alco           3.0
active         3.0
cardio         3.0
age_years      3.0
age_month      3.0
dtype: float64

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [205]:
df['bmi'] = df['weight'] / ((df['height'] / 100)** 2)
pd.set_option('precision',2)
df.head()
df['bmi'].mean()

27.55651255127882

In [206]:
df.groupby('gender')['bmi'].mean()

gender
female    27.99
male      26.75
Name: bmi, dtype: float64

In [207]:
df.groupby('cardio')['bmi'].mean()

cardio
0    26.55
1    28.57
Name: bmi, dtype: float64

In [208]:
df.groupby(['cardio','alco','gender'])['bmi'].mean().reset_index()

   cardio  alco  gender    bmi
0       0     0  female  26.85
1       0     0    male  25.87
2       0     1  female  28.67
3       0     1    male  26.10
4       1     0  female  29.05
5       1     0    male  27.52
6       1     1  female  30.81
7       1     1    male  28.23

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [247]:
dfclean = (df['height'] < df['height'].quantile(q=0.025)) | (df['height'] > df['height'].quantile(q=0.975)) | (df['weight'] < df['weight'].quantile(q=0.025)) | (df['weight'] > df['weight'].quantile(q=0.975)) | (df['ap_lo'] > df['ap_hi'])
print("Очищено {}% данных.".format(round((sum(dfclean)) / len(df.index)*100)))

Очищено 10.0% данных.

df['weight'] = df['weight'].astype('int64')
dfclean = df.drop((df['height'] <= df['height'].quantile(q=0.025)) | (df['height'] >= df['height'].quantile(q=0.975)) | (df['weight'] <= df['weight'].quantile(q=0.025)) | (df['weight'] >= df['weight'].quantile(q=0.0975)) & (df['ap_lo'] > df['ap_hi']),axis=1)


df['height_clean'] = ((df['height'] > df['height'].quantile(q=0.025)) & (df['height'] < df['height'].quantile(q=0.0975))).astype('int64')
df['weight_clean'] = ((df['weight'] > df['weight'].quantile(q=0.025)) & (df['weight'] < df['weight'].quantile(q=0.0975))).astype('int64')

In [228]:
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,age_month,bmi
id,,,,,,,,,,,,,,,
0,18393,male,168,62.0,110,80,1,1,0,0,1,0,50,600,21.97
1,20228,female,156,85.0,140,90,3,1,0,0,1,1,55,660,34.93
2,18857,female,165,64.0,130,70,3,1,0,0,0,1,52,624,23.51
3,17623,male,169,82.0,150,100,1,1,0,0,1,1,48,576,28.71
4,17474,female,156,56.0,100,60,1,1,0,0,0,0,48,576,23.01
8,21914,female,151,67.0,120,80,2,2,0,0,0,0,60,720,29.38
9,22113,female,157,93.0,130,80,3,1,0,0,1,0,61,732,37.73
12,22584,male,178,95.0,130,90,3,3,0,0,1,1,62,744,29.98
13,17668,female,158,71.0,110,70,1,1,0,0,1,0,48,576,28.44
14,19834,female,164,68.0,110,60,1,1,0,0,0,0,54,648,25.28
15,22530,female,169,80.0,120,80,1,1,0,0,1,0,62,744,28.01
16,18815,male,173,60.0,120,80,1,1,0,0,1,0,52,624,20.05
18,14791,male,165,60.0,120,80,1,1,0,0,0,0,40,480,22.04
21,19809,female,158,78.0,110,70,1,1,0,0,1,0,54,648,31.24
23,14532,male,181,95.0,130,90,1,1,1,1,1,0,40,480,29.00
24,16782,male,172,112.0,120,80,1,1,0,0,0,1,46,552,37.86
25,21296,female,170,75.0,130,70,1,1,0,0,0,0,58,696,25.95
27,16747,female,158,52.0,110,70,1,3,0,0,1,0,46,552,20.83
28,17482,female,154,68.0,100,70,1,1,0,0,0,0,48,576,28.67
29,21755,male,162,56.0,120,70,1,1,1,0,1,0,60,720,21.34
30,19778,male,163,83.0,120,80,1,1,0,0,1,0,54,648,31.24
31,21413,female,157,69.0,130,80,1,1,0,0,1,0,59,708,27.99
32,23046,female,158,90.0,145,85,2,2,0,0,1,1,63,756,36.05
33,23376,male,156,45.0,110,60,1,1,0,0,1,0,64,768,18.49
35,16608,female,170,68.0,150,90,3,1,0,0,1,1,45,540,23.53
36,14453,female,153,65.0,130,100,2,1,0,0,1,0,40,480,27.77
37,19559,female,156,59.0,130,90,1,1,0,0,1,0,54,648,24.24
38,18085,female,159,78.0,120,80,1,1,0,0,1,0,50,600,30.85
39,14574,male,166,66.0,120,80,1,1,0,0,1,0,40,480,23.95
40,21057,male,169,74.0,130,70,1,3,0,0,0,0,58,696,25.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99958,22572,male,173,103.0,140,80,3,1,1,1,0,1,62,744,34.41
99959,20136,male,177,80.0,130,80,1,1,0,0,1,0,55,660,25.54
99960,17065,female,165,76.0,140,90,1,1,0,0,1,1,47,564,27.92
99961,22142,male,175,72.0,130,80,1,1,0,0,1,0,61,732,23.51
99962,18226,female,168,75.0,120,80,1,1,0,0,1,0,50,600,26.57
99963,21264,male,182,100.0,120,80,1,1,0,0,1,1,58,696,30.19
99964,21699,female,163,65.0,120,80,2,2,0,0,1,0,59,708,24.46
99965,16843,female,168,75.0,120,79,1,1,0,0,1,0,46,552,26.57
99967,18800,female,163,78.0,90,60,1,1,0,0,1,1,51,612,29.36
99969,22423,female,163,74.0,160,100,2,2,0,0,1,1,61,732,27.85
99971,17727,male,167,69.0,110,80,1,1,0,1,0,0,49,588,24.74
99972,17500,male,182,110.0,130,90,2,2,0,0,1,1,48,576,33.21
99973,18941,female,153,86.0,130,90,1,2,0,0,1,1,52,624,36.74
99974,19652,female,165,72.0,120,80,1,1,0,0,1,0,54,648,26.45
99975,17926,male,168,80.0,120,80,1,1,0,0,1,1,49,588,28.34
99977,18194,female,156,102.0,130,80,1,1,0,1,0,1,50,600,41.91
99978,18198,male,180,78.0,120,80,1,1,0,0,1,0,50,600,24.07
99979,18852,female,151,49.0,120,80,1,1,0,0,1,0,52,624,21.49
99981,21978,female,160,59.0,110,70,1,1,0,0,1,0,60,720,23.05
99985,21013,female,157,83.0,120,70,1,1,0,0,1,1,58,696,33.67
99986,15094,female,168,72.0,110,70,1,1,0,0,1,1,41,492,25.51
99988,20609,female,159,72.0,130,90,2,2,0,0,1,0,56,672,28.48
99990,18792,female,161,56.0,170,90,1,1,0,0,1,1,51,612,21.60
99991,19699,female,172,70.0,130,90,1,1,0,0,1,1,54,648,23.66
99992,21074,female,165,80.0,150,80,1,1,0,0,1,1,58,696,29.38
99993,19240,male,168,76.0,120,80,1,1,1,0,1,0,53,636,26.93
99995,22601,female,158,126.0,140,90,2,2,0,0,1,1,62,744,50.47
99996,19066,male,183,105.0,180,90,3,1,0,1,0,1,52,624,31.35
99998,22431,female,163,72.0,135,80,1,2,0,0,0,1,61,732,27.10
99999,20540,female,170,72.0,120,80,2,1,0,0,1,0,56,672,24.91